.content {
  .carousel-control{
    text-shadow: 0;
    .glyphicon{
      background-color: white;
      color: transparent;
      padding: 15px;
      width: initial;
      height: initial;
      border-radius: 50%;
    }
  }
  .article {
    font-size: 20px;
    padding: 60px 0;
    color: white;
    background-color: $specialGold;
    text-align: center;
    h3 {
      margin-top: 0;
    }
    p {
      max-width: 1010px;
      margin: 0 auto;
    }
  }

  .gallery {
    font-size: 20px;
    color: $secialDark;
    display: flex;
    @media (max-width: 768px) {
      display: initial;
    }
    > div {
      width: 50%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .gallery-img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .gal-art-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      .gallery-article {
        max-width: 650px;
        //padding: 100px 140px;
        h3 {
          color: $specialGold;
        }
        p {
          margin-bottom: 40px;
        }
        a {
          display: block;
          color: $specialGold;
          width: 280px;
          height: 78px;
          border: 2px solid $specialGold;
          line-height: 78px;
          text-align: center;
          &:hover {
            background-color: $specialGold;
            color: white;
          }
        }
      }
    }
  }

  .quote-block {
    background-color: $specialGold;
    color: white;
    padding: 95px 0 80px;
    text-transform: uppercase;
    blockquote {
      position: relative;
      border: none;
      margin: 0 auto;
      max-width: 930px;
      font-size: 26px;
      letter-spacing: 5px;
      text-align: center;
      display: block;
      span {
        font-size: 20px;
      }
      &:before {
        position: absolute;
        content: "\201C";
        font-family: Georgia, serif;
        font-size: 300px;
        font-weight: bold;
        color: #daca96;
        top: -105px;
        left: -80px;
      }
      &:after {
        position: absolute;
        content: "\201D";
        font-family: Georgia, serif;
        font-size: 300px;
        font-weight: bold;
        color: #daca96;
        top: -60px;
        right: -75px;
      }
    }
  }

  .img-text-block {
    background: url(../images/malta.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    span {
      display: block;
      margin: 0 auto;
      max-width: 600px;
      font-size: 27px;
      color: white;
    }
  }

  .g-article {
    background-color: white;
    h3 {
      color: $specialGold;
    }
    p {
      color: $secialDark;
    }
  }

  .gallery-block{
    .gallery{
      .gal-art-wrap{
        background-color: $specialGold;
        .gallery-article{
          color: white;
          h3{
            color: white;
          }
          a{
            color: white;
            border: 2px solid white;
            &:hover{
              background-color: white;
              color: $specialGold;
            }
          }
        }
      }
    }
  }

  .btn-block{
    width: 100%;
    height: 277px;
    display: flex;
    @media (max-width: 768px) {
      display: initial;
      a{
        margin: 10px auto;
        width: 100%;
      }
    }
    align-items: center;
    justify-content: space-around;
    a {
      display: block;
      color: $specialGold;
      width: 388px;
      height: 78px;
      border: 2px solid $specialGold;
      line-height: 78px;
      text-align: center;
      &:hover {
        background-color: $specialGold;
        color: white;
      }
    }
  }

  .img-block{
    background: url(../images/balcon.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 515px;
  }

}