.wrapper {
  font-family: AvenirLTStd;
}

.header-x {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: $specialGold;
  letter-spacing: 5px;
  .logo-wrap {
    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
    }
    flex: 1;
    .logo {
      width: 120px;
      padding: 10px 0;
      margin-left: 73px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .head-nav {
    margin: 0;
    min-width: 890px;
    display: flex;
    flex: 3;
    @media (max-width: 768px) {
      display: none;
    }
    > li {
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $specialGold;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
          color: $secialDark;
        }
      }
      &:hover .dropdown-content {
        display: block;
      }
      a {
        color: white;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 25px;
        font-size: 17px;
        line-height: 5em;
      }
    }
  }
  .head-info {
    display: flex;
    > a {
      display: block;
      color: $secialDark;
      background-color: white;
      line-height: 6em;
    }
    .lang {
      color: $secialDark;
      position: relative;
      padding: 0 40px;
      white-space: nowrap;
      .lang-list {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        line-height: 2.2;
        background-color: white;
        width: 100%;
        left: 0;
        top: 85px;
        text-align: center;
      }
      &:focus {
        pointer-events: none;
      }
      &:focus .lang-list {
        visibility: visible;
      }
    }
    .e-now {
      border-left: 2px solid $specialGold;
      padding: 0 50px;
      white-space: nowrap;
    }
  }

}

