/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  word-spacing: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

i {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body a, body a:hover, body a:focus, body a:active, body a:visited {
  color: inherit;
  text-decoration: none; }

button, input {
  border: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit; }

@font-face {
  font-family: AvenirLTStd;
  src: url(../fonts/AvenirLTStd-Black.otf);
  src: url(../fonts/AvenirLTStd-BlackOblique.otf);
  src: url(../fonts/AvenirLTStd-Book.otf);
  src: url(../fonts/AvenirLTStd-BookOblique.otf);
  src: url(../fonts/AvenirLTStd-Heavy.otf);
  src: url(../fonts/AvenirLTStd-HeavyOblique.otf);
  src: url(../fonts/AvenirLTStd-Light.otf);
  src: url(../fonts/AvenirLTStd-LightOblique.otf);
  src: url(../fonts/AvenirLTStd-Medium.otf);
  src: url(../fonts/AvenirLTStd-MediumOblique.otf);
  src: url(../fonts/AvenirLTStd-Oblique.otf);
  src: url(../fonts/AvenirLTStd-Roman.otf); }
.wrapper {
  font-family: AvenirLTStd; }

.header-x {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #d1be7e;
  letter-spacing: 5px; }
  .header-x .logo-wrap {
    flex: 1; }
    @media (max-width: 768px) {
      .header-x .logo-wrap {
        width: 100%;
        justify-content: center; } }
    .header-x .logo-wrap .logo {
      width: 120px;
      padding: 10px 0;
      margin-left: 73px; }
      .header-x .logo-wrap .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
  .header-x .head-nav {
    margin: 0;
    min-width: 890px;
    display: flex;
    flex: 3; }
    @media (max-width: 768px) {
      .header-x .head-nav {
        display: none; } }
    .header-x .head-nav > li .dropdown-content {
      display: none;
      position: absolute;
      background-color: #d1be7e;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1; }
      .header-x .head-nav > li .dropdown-content a {
        color: #73797c; }
    .header-x .head-nav > li:hover .dropdown-content {
      display: block; }
    .header-x .head-nav > li a {
      color: white;
      display: block;
      width: 100%;
      height: 100%;
      padding: 0 25px;
      font-size: 17px;
      line-height: 5em; }
  .header-x .head-info {
    display: flex; }
    .header-x .head-info > a {
      display: block;
      color: #73797c;
      background-color: white;
      line-height: 6em; }
    .header-x .head-info .lang {
      color: #73797c;
      position: relative;
      padding: 0 40px;
      white-space: nowrap; }
      .header-x .head-info .lang .lang-list {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        line-height: 2.2;
        background-color: white;
        width: 100%;
        left: 0;
        top: 85px;
        text-align: center; }
      .header-x .head-info .lang:focus {
        pointer-events: none; }
      .header-x .head-info .lang:focus .lang-list {
        visibility: visible; }
    .header-x .head-info .e-now {
      border-left: 2px solid #d1be7e;
      padding: 0 50px;
      white-space: nowrap; }

.content .carousel-control {
  text-shadow: 0; }
  .content .carousel-control .glyphicon {
    background-color: white;
    color: transparent;
    padding: 15px;
    width: initial;
    height: initial;
    border-radius: 50%; }
.content .article {
  font-size: 20px;
  padding: 60px 0;
  color: white;
  background-color: #d1be7e;
  text-align: center; }
  .content .article h3 {
    margin-top: 0; }
  .content .article p {
    max-width: 1010px;
    margin: 0 auto; }
.content .gallery {
  font-size: 20px;
  color: #73797c;
  display: flex; }
  @media (max-width: 768px) {
    .content .gallery {
      display: initial; } }
  .content .gallery > div {
    width: 50%; }
    @media (max-width: 768px) {
      .content .gallery > div {
        width: 100%; } }
  .content .gallery .gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .content .gallery .gal-art-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; }
    .content .gallery .gal-art-wrap .gallery-article {
      max-width: 650px; }
      .content .gallery .gal-art-wrap .gallery-article h3 {
        color: #d1be7e; }
      .content .gallery .gal-art-wrap .gallery-article p {
        margin-bottom: 40px; }
      .content .gallery .gal-art-wrap .gallery-article a {
        display: block;
        color: #d1be7e;
        width: 280px;
        height: 78px;
        border: 2px solid #d1be7e;
        line-height: 78px;
        text-align: center; }
        .content .gallery .gal-art-wrap .gallery-article a:hover {
          background-color: #d1be7e;
          color: white; }
.content .quote-block {
  background-color: #d1be7e;
  color: white;
  padding: 95px 0 80px;
  text-transform: uppercase; }
  .content .quote-block blockquote {
    position: relative;
    border: none;
    margin: 0 auto;
    max-width: 930px;
    font-size: 26px;
    letter-spacing: 5px;
    text-align: center;
    display: block; }
    .content .quote-block blockquote span {
      font-size: 20px; }
    .content .quote-block blockquote:before {
      position: absolute;
      content: "\201C";
      font-family: Georgia, serif;
      font-size: 300px;
      font-weight: bold;
      color: #daca96;
      top: -105px;
      left: -80px; }
    .content .quote-block blockquote:after {
      position: absolute;
      content: "\201D";
      font-family: Georgia, serif;
      font-size: 300px;
      font-weight: bold;
      color: #daca96;
      top: -60px;
      right: -75px; }
.content .img-text-block {
  background: url(../images/malta.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 525px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .content .img-text-block span {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    font-size: 27px;
    color: white; }
.content .g-article {
  background-color: white; }
  .content .g-article h3 {
    color: #d1be7e; }
  .content .g-article p {
    color: #73797c; }
.content .gallery-block .gallery .gal-art-wrap {
  background-color: #d1be7e; }
  .content .gallery-block .gallery .gal-art-wrap .gallery-article {
    color: white; }
    .content .gallery-block .gallery .gal-art-wrap .gallery-article h3 {
      color: white; }
    .content .gallery-block .gallery .gal-art-wrap .gallery-article a {
      color: white;
      border: 2px solid white; }
      .content .gallery-block .gallery .gal-art-wrap .gallery-article a:hover {
        background-color: white;
        color: #d1be7e; }
.content .btn-block {
  width: 100%;
  height: 277px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media (max-width: 768px) {
    .content .btn-block {
      display: initial; }
      .content .btn-block a {
        margin: 10px auto;
        width: 100%; } }
  .content .btn-block a {
    display: block;
    color: #d1be7e;
    width: 388px;
    height: 78px;
    border: 2px solid #d1be7e;
    line-height: 78px;
    text-align: center; }
    .content .btn-block a:hover {
      background-color: #d1be7e;
      color: white; }
.content .img-block {
  background: url(../images/balcon.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 515px; }

.footer-x {
  background-color: #d1be7e;
  color: #73797c;
  text-align: center; }
  .footer-x .footer-head-block {
    width: 100%;
    height: 87px; }
  .footer-x .social-block {
    padding: 20px 0;
    background-color: white;
    color: #73797c; }
    .footer-x .social-block a {
      display: initial;
      font-size: 26px;
      margin: 0 10px; }
  .footer-x .privacy-block {
    margin: 35px 0;
    display: flex;
    justify-content: center; }
    .footer-x .privacy-block a {
      width: 290px;
      height: 42px;
      line-height: 42px;
      font-size: 20px;
      letter-spacing: 5px;
      color: white;
      white-space: nowrap; }
      .footer-x .privacy-block a:first-child {
        border-right: 2px solid #73797c; }
  .footer-x a {
    display: block; }
  .footer-x .chat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 80px;
    background-color: #73797c;
    color: white;
    position: fixed;
    right: 75px;
    bottom: 0; }
    @media (max-width: 768px) {
      .footer-x .chat {
        display: none; } }

/*# sourceMappingURL=style.css.map */
