.footer-x{
  background-color: $specialGold;
  color: $secialDark;
  text-align: center;
  .footer-head-block{
    width: 100%;
    height: 87px;
  }
  .social-block{
    a{
      display: initial;
      font-size: 26px;
      margin: 0 10px;
    }
    padding: 20px 0;
    background-color: white;
    color: $secialDark;
  }
  .privacy-block{
    margin: 35px 0;
    display: flex;
    justify-content: center;
    a{
      width: 290px;
      height: 42px;
      line-height: 42px;
      font-size: 20px;
      letter-spacing: 5px;
      color: white;
      white-space: nowrap;
      &:first-child{
        border-right: 2px solid $secialDark;
      }
    }
  }
  a{
    display: block;
  }
  .chat{
    @media (max-width: 768px) {
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 80px;
    background-color: #73797c;
    color: white;
    position: fixed;
    right: 75px;
    bottom: 0;
  }
}