@font-face {
  font-family: AvenirLTStd;
  src: url(../fonts/AvenirLTStd-Black.otf);
  src: url(../fonts/AvenirLTStd-BlackOblique.otf);
  src: url(../fonts/AvenirLTStd-Book.otf);
  src: url(../fonts/AvenirLTStd-BookOblique.otf);
  src: url(../fonts/AvenirLTStd-Heavy.otf);
  src: url(../fonts/AvenirLTStd-HeavyOblique.otf);
  src: url(../fonts/AvenirLTStd-Light.otf);
  src: url(../fonts/AvenirLTStd-LightOblique.otf);
  src: url(../fonts/AvenirLTStd-Medium.otf);
  src: url(../fonts/AvenirLTStd-MediumOblique.otf);
  src: url(../fonts/AvenirLTStd-Oblique.otf);
  src: url(../fonts/AvenirLTStd-Roman.otf);
}